<!DOCTYPE html>
<html>
  <head>
    <title>Recourse</title>

    <link rel="stylesheet" href="//cdn.materialdesignicons.com/2.0.46/css/materialdesignicons.min.css">
    <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">

      <!-- Buefy CSS -->
     <link rel="stylesheet" href="https://unpkg.com/buefy/lib/buefy.min.css">

     <!-- Buefy JavaScript -->
    <script src="https://unpkg.com/buefy"></script>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'hello_vue' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
